:root {
	 --primary-color: #c4426f;
   --secondary-color: #6B6800;
   --primary-text-color: #2b2b2b;
   --secondary-text-color: #fff;
   --background-color: #D3F0E6;
   --background-color-grid: #f9fdfc;
   --font-weight-headers: 700;
   --padding-default: 20px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 15px;
}

h1 {
  font-size: 30px;
  font-weight: var(--font-weight-headers);
}

h2 {
  font-size: 24px;
  font-weight: var(--font-weight-headers);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-weight-headers);
}

a {
  color: var(--primary-text-color);
}

a:visited {
  color: var(--secondary-color);
}

a:hover, a:focus {
  /* no underlining when hovering over a link */
  text-decoration: none;
  color: var(--primary-color);
}

a:active {
  color: var(--primary-color);
}

.button_paragraph {
	text-align: center;
}


button, .button {
  /* removes the browser default border */
  border: none;
  display: inline-block;
  text-align: center;
  /* take the font from the outer container, in this case the body container */
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  text-decoration: none;
  /* add spacing to the button and round the corners */
  padding: 10px;
  border-radius:3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover, button:focus, .button:hover, .button:focus {
  cursor: pointer;
  opacity: 0.8;
}

button, button:hover, .button:hover, .button:focus a{
  color: var(--secondary-text-color);
 }

 .button:visited {
   background-color: var(--secondary-text-color);
 }

.page-header {
  display: flex;
  width: 100%;
  padding: var(--padding-default);
 }

.page-header__item {
   flex: 0 1 200px;
  }

.page-header__item:last-child{
   flex-grow: 1;
   text-align: right;
 }

.navigation-list li {
   display: inline-block;
   margin-left: 15px;
  }

.navigation-list__item--active {
   text-decoration: none
  }

.profile {
   max-width: 700px;
   margin: 0 auto;
   padding: 30px;
   display: flex;
   align-items: center;
 }

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
 }

.page-footer {
  /* clear of all floats*/
  clear: both;
  /*make it a flexbox container */
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: var(--padding-default);
 }

 /* start grid fallback */
 .grid__item {
  display: inline-block;
  width: 33%;
 }
 /* end grid fallback */

@supports (display:grid) {

} .grid {
   display: grid;
   margin: 0 auto;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 20px;
 }

.grid__item {
  background-color: var(--background-color-grid);
  width: auto;
  min-height: auto;
  margin: 0;
 }
 .grid__item:last-child {
   grid-column: 3 / 3;
   grid-row: 1 / 3;
  }

.about {
  max-width: 700px;
  margin: 0 auto;
  padding: var(--padding-default);
 }

.about-title {
	text-align: center;
}

.about-list {
	 max-width: 80%;
   margin: 0 auto;
   text-align: justify;
}

.about-list li {
  margin: 10px;
  list-style-type: none;
}

.skills-table {
  margin: 0 auto;
  margin-top: 40px;
 }

td, th {
  text-align: center;
  vertical-align: top;
  padding: 5px;
 }

.contact {
  max-width: 700px;
  margin: 0 auto;
  padding: var(--padding-default);
  text-align: center;
 }

.contact-form {
  margin: 20px;
 }

.contact-details {
  margin: 20px;
 }

 .contact-details li {
   display: inline-block;
   margin: 5px 15px;
 }

/* ANIMATIONS */

 @keyframes color-change {
   0% {
     fill: #d5a84c;
   }
   50% {
     fill: #e89bdb;
   }
   100% {
     fill: #f5e983;
   }
 }

 .london_eye {
   animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.front_cloud {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-expand {
  from {
    transform: translate(100px, 30px);
  }
  to {
    transform: translate(0px, 30px);
  }
}

.back_cloud {
  animation: 30s cloud-expand infinite alternate linear;
}

/* MEDIA QUERIES */

 @media all and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 600px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
